<div style="display: inline-flex; margin-bottom: 5%; margin-top: 5%;">
 <app-add-task (evenTask)="add($event)"></app-add-task>
</div>
<table class="table table-dark">
  <thead class="thead-dark">
    <th [ngStyle]="{color: getColor()}" >Lista do wykonania, ilosc: {{taskList.length}}</th>
    <th>Lista zadań wykonanych</th>
  </thead>
  <tbody>
  <tr>
    <td>
     <app-todo-task [taskList]="taskList" (emitDone)="done($event)" (emitRemove)="remove($event)"></app-todo-task>
    </td>
    <td>
      <app-done-task [taskDone]="doneTaskList"></app-done-task>
    </td>
  </tr>
  </tbody>
</table>
